﻿@{
    ViewData["Title"] = "Access Denied";
}


<div class="container ">
    <div class="col-lg-6 offset-lg-3">

        <div class="card">

        <h2 class="font-weight-bolder text-center card-header bg-info text-white"> Unauthorized !!!</h2>

            <div class="card-body  bg-light justify-content-center">

                <div class="ml-lg-5">

                    <div class="col-lg-6 offset-lg-2 text-center">
                        <p><i class="fa fa-exclamation-triangle fa-5x" style="color:red;"></i><br />Status Code: 404 Error</p>
                    </div>

                    <p> Sorry, you don't have the right to view this page, please <a asp-action="Contact" asp-controller="Home"><b> Contact </b></a> the Data King Administrator to grant you access.</p>
                    <p> You can go back to the previous page to continue browsing. </p>
                </div>

                <div class="row p-4 ">
                    <a class="btn btn-primary" href="javascript:history.back()">Go Back</a> &nbsp;
                    <a asp-action="Login" asp-controller="Account" class="btn btn-info">Login</a>
                </div>


            </div>
        </div>
       

    </div>
</div>