@{
    ViewData["Title"] = "Contact Page";
}



<div class="container-fluid">

    <img class="img-fluid w-100 h-auto" src="~/images/robot call.jpg" alt="New York">

</div>
<div class=" container">
    <div class=" row pt-4">

        <div class="col-lg-4 col-md-4 pt-2 bg-primary text-white p-5">
            <div class="text-center font-weight-bolder">
                <h3>Let's Get In Touch</h3>
                <p>  We're open 24/7 for any suggestions or complaints just Contact us below </p>
            </div>

            <div class="">
                <p class="d-flex">
                    <span class="  border rounded-circle p-2 mr-3"><i class="fas fa-phone" style='font-size:25px;'></i></span>
                    <b> Phone: </b> <a class="text-white" href="tel:+234 8134428987" style="text-decoration:none;">+234 8134428987</a>
                </p>
                <br />
                <p class="d-flex">
                    <span class=" border rounded-circle p-2 mr-3"><i class="fas fa-envelope" style='font-size:25px;'></i></span>
                    <b class="pr-1"> Email:</b>  support@posdata.com.ng
                </p>
                <br />
            </div>

        </div>

        <div class=" col-lg-6 col-md-6  p-sm-1 p-lg-4">
            <div>
                <h4 class="text-center font-weight-bold">Frequently Asked Questions ?</h4>
                <p>
                    Click on the buttons to know the answers to some information & tips about Posdata;
                </p>
                <p>
                    Everything is cool with Posdata the admin is super-active because we gave response to all questions asked; below are some <b>FAQs</b>
                </p>
            </div>
            <div id="accordion">

                <div class="card border border-0 px-0" style="background-color:transparent;">
                    <div class="card-header rounded-pill bg-info py-0 pr-2 text-center">
                        <h2>
                            <a class="btn badge-pill  text-white dropdown-toggle" data-toggle="collapse" data-target="#demo">
                                How do I use Posdata website
                            </a>
                        </h2>
                    </div>

                    <div id="demo" class="collapse p-3 text-center bg-white font-weight-bold" data-parent="#accordion">
                        <p> Register a free account with us click <a asp-controller="Account" asp-action="Register">HERE</a></p>
                        <p> Login your registered account <a asp-controller="Account" asp-action="Login">HERE</a></p>
                        <p> Fund your wallet with any amount less than &#8358; 500 </p>
                        <p>  Purchase any product of your choice </p>
                        <p>  And it will get delivered instantly </p>
                    </div>

                </div>

                <br />

                <div class="card border border-0 px-0" style="background-color:transparent;">
                    <div class="card-header rounded-pill bg-info py-0 pr-2 text-center">
                        <h2>
                            <a class="btn badge-pill  text-white dropdown-toggle" data-toggle="collapse" data-target="#kola">
                                How long will it take before I get my orders
                            </a>
                        </h2>
                    </div>
                    <div id="kola" class="collapse p-3 text-center bg-white font-weight-bold" data-parent="#accordion">

                        <p>All our data is automated so it will be sent immediately except there is a network problem which u will be notified before you order.</p>

                    </div>
                </div>

                <br />

                <div class="card border border-0 px-0" style="background-color:transparent;">
                    <div class="card-header rounded-pill bg-info py-0 pr-2 text-center">
                        <h2>
                            <a class="btn badge-pill  text-white dropdown-toggle" data-toggle="collapse" data-target="#mholly">
                               wallet balance not updated after payment
                            </a>
                        </h2>
                    </div>

                    <div id="mholly" class="collapse p-3 text-center bg-white font-weight-bold" data-parent="#accordion">
                       
                        <p> This could have been due to network, Retry or send an email to support@posdata.com.ng, if issues persists after 15-30 mins.   </p>
                        <p> Send a screenshot of the payment receipt to our Whatsapp; +2347033121121; </p>
                    </div>

                </div>

                <br />
            </div>
        </div>
        <div class="col-2"></div>
    </div>

</div>

