﻿@{
    ViewData["Title"] = "Home Page";
}



<div class="container-fluid">

    <img class="img-fluid w-auto h-auto" src="~/images/Untitled.jpg" alt="New York">

</div>

<br />


<div class="container-fluid">
    <div class="text-center">
        <h2 class="justify-content-center text-primary text-uppercase"> <b>What can you do on our platform? </b></h2>
        <hr />
    </div>
    <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
            <img class="w-auto h-auto img-fluid" src="~/images/customer-care.jpg" alt="New York">
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <h4 class="display-3"> Buy cheap data</h4>
            <hr />
            <p class="text-primary">We sell data at a cheaper price and our data validity period are usually 30days </p>
            <h4>Buy airtime at a discounted price</h4>
            <p class="text-primary"> We sell airtime at discount price meaning you pay less and get more airtime</p>
            <hr />

        </div>
    </div>
</div>

<br />




    <div class="container-fluid mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white font-weight-bold">
                    <h1 class="h-auto text-center mt-2 mb-4 wow fade-in bg-primary" data-wow-delay="0.2s"> How the Website works </h1>
                </div>
                <div class="card-body bg-light shadow-lg rounded">
                    <div class="col-lg-10 col-sm-10 offset-lg-1 d-flex align-items-center">
                        <div class="content">
                            <ul class="nav nav-tabs develor_tab mb-30 font-weight-bolder" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-tab="tab_one" id="ruby-tab" data-toggle="tab" href="#ruby" role="tab" aria-controls="ruby" aria-selected="true">  Register </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-tab="tab_one" id="john-tab" data-toggle="tab" href="#john" role="tab" aria-controls="john" aria-selected="true">  Fund your wallet </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-tab="tab_two" id="curl-tab" data-toggle="tab" href="#curl" role="tab" aria-controls="curl" aria-selected="false">  Buy cheap data </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-tab="tab_four" id="doctl-tab" data-toggle="tab" href="#doctl" role="tab" aria-controls="doctl" aria-selected="false"> Buy cheap airtime </a>
                                </li>
                            </ul>

                            <div class="tab-content developer_tab_content" style="font-size: 15px;">
                                <div class="tab-pane fade show active" id="ruby" role="tabpanel" aria-labelledby="ruby-tab">
                                    <p>
                                        Create account by registering on www.posdata.com.ng <a asp-controller="Account" asp-action="Register">HERE</a>
                                    </p>                                   
                                    <p>
                                        Login if you have registered an account with us, <a asp-controller="Account" asp-action="Login"> HERE</a>
                                    </p>
                                    <p>
                                        Go to your dashboard and explore the cheap products we have for you.
                                    </p>
                                </div>

                                <div class="tab-pane fade" id="john" role="tabpanel" aria-labelledby="john-tab">

                                    <p> You can also Deposit a minimum amount of &#8358;500 in your wallet for you to buy our cheap products <a asp-controller="User" asp-action="DepositFund">HERE</a> </p>

                                    <p> The first method of payment is by using the <b>bank transfer method</b>  which the bank account number will be displayed in the dashboard when you login or register; </p>

                                    <p> We also made it more easier for you to deposit by using your debit card to fund your wallet directly through <b> Paystack method </b>  </p>

                                    <p> Payment from any different banks are allowed & all types of debit cards are accepted from our users,"Verve, Mastercard e.t.c.." </p>

                                    <p> You can also reach out to our 24/7 support center OR send an email to <b>support@posdata.com.ng</b> if any problem arises. </p>
                                </div>

                                <div class="tab-pane fade" id="curl" role="tabpanel" aria-labelledby="curl-tab">
                                    <p>
                                        Buy cheap data at low prices you can trust and afford.
                                    </p>

                                    <p> All networks are available ranging from MTN, Airtel, 9Mobile & GLO. </p>

                                </div>

                                <div class="tab-pane fade" id="doctl" role="tabpanel" aria-labelledby="doctl-tab">
                                    <p>
                                        Buy cheap airtime at low prices you can trust and afford.
                                    </p>

                                    <p>NB:MTN SNS & MTN VTU are now at a 5% discount.   </p>

                                    <p> All networks are also available ranging from MTN, Airtel, 9Mobile & GLO.</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                           
           
        </div>
    </div>




<div class="container-fluid">


    <div class="row">

        <div class="col-md-6 col-lg-3 mb-3">
            <div class="d-block border bg-white">
                <div class="text-center">
                    <h5 class="pt-4 text-center text-info font-weight-bold  "> MTN DATA LIST</h5>
                    <img class="w-auto h-auto" src="~/images/mtn_fresh.png" alt="New mtn">
                </div>
                <hr />
                <ul class="font-weight-bold" style="list-style: none;">
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        500MB &#8594; &#8358;200
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        1GB &#8594; &#8358;330
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        2GB &#8594; &#8358;660
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        3GB &#8594; &#8358;990
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        4GB &#8594; &#8358;1,320
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        5GB &#8594; &#8358;1,650
                    </li>

                </ul>
                <hr />
                <a class="btn btn-info ml-2" asp-controller="user" asp-action="data"> Buy Now</a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-3">
            <div class="d-block bg-white border">
                <div class="text-center">
                    <h5 class="pt-4 text-center text-info font-weight-bold  "> AIRTEL DATA LIST</h5>
                    <img class="w-auto h-auto" src="~/images/downloadhhh.png" alt="New York">
                </div>
                <hr />
                <ul class="font-weight-bold" style="list-style: none; height:108px;">

                    <li>
                        <span class="fa fa-check mr-2"></span>
                        1GB &#8594; &#8358 500
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        2GB &#8594; &#8358 970
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        3GB &#8594; &#8358 1430
                    </li>

                </ul>
                <hr />
                <a class="btn btn-info ml-2" asp-controller="user" asp-action="data"> Buy Now</a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-3">
            <div class="d-block bg-white border">
                <div class="text-center">
                    <h5 class="pt-4 text-center text-info font-weight-bold  "> GLO DATA LIST</h5>
                    <img class="w-auto h-auto" src="~/images/kelly.jpg" alt="New York">
                </div>
                <hr />
                <ul class="font-weight-bold" style="list-style: none; height:108px;">
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        1GB &#8594; &#8358 500
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        2GB &#8594; &#8358 970
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        3GB &#8594; &#8358 1430
                    </li>
                </ul>
                <hr />   <a class="btn btn-info ml-2" asp-controller="user" asp-action="data"> Buy Now</a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-3">
            <div class="d-block bg-white">
                <div class="text-center">
                    <h5 class="pt-4 text-center text-info font-weight-bold"> 9MOBILE DATA LIST</h5>
                    <img class="w-auto h-auto" src="~/images/9999mobilr.jpg" alt="New York">
                </div>
                <hr />
                <ul class="font-weight-bold" style="list-style:none; height:112px;">
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        500MB &#8594; &#32; &#8358 430
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        1.5GB &#8594; &#32; &#8358 850
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        2GB &#8594; &#32; &#8358 1080
                    </li>
                    <li>
                        <span class="fa fa-check mr-2"></span>
                        3GB &#8594;  &#32; &#8358 1350
                    </li>

                </ul>
                <hr />
                <a class="btn btn-info ml-2" asp-controller="user" asp-action="data"> Buy Now</a>
            </div>
        </div>
    </div>

</div>



@*<div class="container mt-1" style="background-color:snow;">
    <div class="text-center font-weight-bolder">
        <h2 class="text-primary"> Method Of Payments </h2>
        <p class="font-weight-bold"> You can fund Your Wallets Through Your Debit cards, Isn't that Great!</p>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-2">
            <img class="img-fluid w-auto h-auto" src="~/images/westbellisy-credit-cards.png" alt="New York">
        </div>
        <div class="col-md-6 col-lg-4">
            <img class=" img-fluid h-auto" src="~/images/bankilo.png" alt="New York">
        </div>
        <div class="col-5 col-lg-4 mx-4 ml-lg-3">
            <img class=" img-fluid h-auto" src="~/images/banker.png" alt="New York">
        </div>
    </div>


</div>*@







