﻿
@{
    ViewData["Title"] = "PaystackResponse";
}

<div class="card" style="min-height:400px; margin-top:10px;">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3">
            <h2>We have received your payment, we are now preparing your materials, we will be shipping it to your location in within the next 3 working days</h2>
        </div>

    </div>


</div>
