﻿@model IEnumerable<DataKingCore.Models.Payment>

@{
    ViewData["Title"] = "ApproveTransaction";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
  


<script type="text/javascript">

    $(document).ready(function () {
       
        $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>


<div class="container">
    @if (Model != null && Model.Count() > 0)
    {
        <h1 class="text-center text-white bg-primary p-4">List Of Pending Transactions </h1> <hr />

        <table id="table" class="table table-bordered table-striped w-100 table-responsive-sm">
            <thead>
                <tr>
                    <th> Registered Customers Name </th>

                    <th> Phone Number </th>

                    <th>@Html.DisplayNameFor(model => model.Amount) </th>

                    <th>@Html.DisplayNameFor(model => model.DateGenerated) </th>

                    <th>Payment Type</th>

                    <th>@Html.DisplayNameFor(model => model.PaidFrom) </th>

                    <th>@Html.DisplayNameFor(model => model.BankAccountId) </th>

                    <th> Approve Payment </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => obj.User.UserName)</td>

                    <td>@Html.DisplayFor(modelItem => obj.User.PhoneNumber)</td>

                    <td>@Html.DisplayFor(modelItem => obj.Amount)</td>

                    <td>@Html.DisplayFor(modelItem => obj.DateGenerated)</td>

                    <td>@Html.DisplayFor(modelItem => obj.PaymentType.Name)</td>

                    <td>@Html.DisplayFor(modelItem => obj.PaidFrom)</td>

                    <td>
                        @if (obj.BankAccount != null)
                        {
                            @Html.DisplayFor(modelItem => obj.BankAccount.Name)

                        }
                    </td>


                    <td>

                        <a class="btn btn-info text-white" onclick="approvePayment('@obj.Id')">Approve</a>

                    </td>

                </tr>
                }
            </tbody>
        </table>
    }
    else
    { 
        <h2 class="text-info text-center py-5"> No Pending Transactions Found </h2>
    }

</div>



<script type="text/javascript">

    function approvePayment(id) {
            debugger;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ApprovePayment", "Admin")', // we are calling json method
            dataType: 'json',
            data: { paymentId: id },

            success: function (result) {
                if (result)
                {
                    successAlert(" Approved successfully.");
                    location.reload("ApprovePayment");

                }
                else {
                    errorAlert(" Something went wrong, contact the support");

                }
            },
            error: function (ex) {
                alert(ex);

            }
        });
     }
</script>
