﻿@model DataKingCore.Models.Product


@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}



<div class="container">
    <div class="card">
        <h5 class="card-header bg-primary text-white text-center font-weight-bold p-4">Create Dropdowns</h5>

        <div class="card-body" style="background-color:#F4F4F4">
            <form asp-action="CreateProduct" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (TempData["Message"] != null)
                {

                    var tempDatamessage = TempData["Message"];
                    @Html.Partial("_Message", (DataKing.Models.Message)TempData["Message"])

                }

            <div class="">
                <div class="form-group col-10 offset-1 font-weight-bold my-4">
                    <label class="control-label">Dropdowns</label>
                    <select class="form-control form-control-rounded w-90" required asp-items="@(new SelectList(@ViewBag.Dropdownkeys, "Id", "Name" ))" id="maindrp"></select>
                </div>

                <div class="form-group col-10 offset-1 font-weight-bold my-4">
                    <label asp-for="ParentId" class="control-label">Product</label>
                    <select asp-for="ParentId" class="form-control form-control-rounded w-90" required id="parentId"></select>
                </div>

                <div class="form-group col-10 offset-1 font-weight-bold">
                    <label asp-for="Discount" class="control-label">Discount</label>
                    <input asp-for="Discount" class="form-control w-90" />
                </div>

                <div class="form-group col-10 offset-1 font-weight-bold">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control w-90" />
                </div>

                <div class="form-group col-10 offset-1 font-weight-bold">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control w-90" />
                </div>

                <div class="form-group col-10 offset-1 font-weight-bold">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" type="number" class="form-control w-90" />
                </div>

            </div>

                <div class="form-group col-10 offset-1 mt-4">
                    <input type="submit" value="Create" class="btn btn-primary btn-block font-weight-bold" />
                </div>
            </form>
        </div>
    </div>
</div>


<script>

      $(document).ready(function () {

          $("#maindrp").change(function () {
            debugger;
              $("#parentId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetProductInDropdown")', //we are calling json method
                dataType: 'json',
                data: { id: $("#maindrp").val() },
                success: function (getProduct) {
                    $("#parentId").append('<option value="' + 0 + '">-- Select --</option>');

                    $.each(getProduct, function (i, getProduct) {
                        $("#parentId").append('<option value="' + getProduct.value + '">' + getProduct.text + '</option>');
                    });
                    $("#parentId").show();
                },
                error: function (ex) {
                    alert('Failed to retrieve Bundle.' + ex);
                }
            });

            return false;
          });
      });

</script>