﻿
@{
    ViewData["Title"] = "ApproveTransaction";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
  

<div class="container">
    @if (Model.Count() > 0)
    {
        <h1 class="text-center text-white bg-primary">List Of Transaction </h1> <hr />

        <table id="table" class="table table-bordered table-striped w-100 table-responsive-sm">
            <thead>

                <tr>
                    @*<th> @Html.DisplayNameFor(model => model.Username)</th>*@
                    <th>Amount Paid</th>
                    <th>Date Of Payment</th>
                    <th> Bank Paid Into</th>
                    <th> Approve Payment</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var obj in Model)
                {
                    <tr>
                        @*<td>@Html.DisplayFor(modelItem => obj.Username)</td>
                        <td>@Html.DisplayFor(modelItem => obj.MeetingDate)</td>
                        <td>@Html.DisplayFor(modelItem => obj.DateCreated)</td>
                        <td>@Html.DisplayFor(modelItem => obj.Link)</td>
                        <td>@Html.DisplayFor(modelItem => obj.OnlineGroup.Name)</td>*@
                        <td>
                            <a class="btn btn-info text-white" href="#" id="Cnfrm" >Confirm</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="text-info text-center py-5">No Transactions Found</h2>
    }

</div>




<script>
    $(document).ready(function () {
        $("").show();
        $("").hide();
        $("#table").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });

        $("#Cnfrm").on("click", function () {
            $("").fadeIn(3000);
            $("").hide();
        })

    });

</script>
