﻿@model DataKingCore.Models.CommonDropdowns

@{
    ViewData["Title"] = "AddDropDown";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}



<div class="container">
    <div class="card">
        <h5 class="card-header bg-primary text-white text-center font-weight-bold p-4">Update  Notification</h5>

        <div class="card-body" style="height:400px;background-color:#F4F4F4">
            <form asp-action="UpdateNotification" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (TempData["Message"] != null)
                {

                    var tempDatamessage = TempData["Message"];
                    @Html.Partial("_Message", (DataKing.Models.Message)TempData["Message"])

                }

                <div class="">
                    <div class="form-group col-10 offset-1 font-weight-bold my-4">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control form-control-rounded w-90" id="edit" required />
                    </div>
                   
                </div>

                <div class="form-group col-10 offset-1 mt-4">
                    <input type="submit" value="Save" class="btn btn-primary btn-block font-weight-bold" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function (Id) {
        debugger;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetNotification")', //we are calling json method
                dataType: 'json',
                data: { id: Id},
                success: function (getNotification)
                {
                    $("#edit").val(getNotification);                  
                },
                error: function (ex)
                {
                    alert('Failed to retrieve Notification.' + ex);
                }
            });

            return false;

      });



</script>