﻿
@{
    ViewData["Title"] = "ChangePassword";
}



<div class="container">
    <div class="col-lg-6 offset-lg-3">
        <div class="card ">
            <div class="card-header bg-primary p-1"></div>

            <div class="card-body col-lg-10 col-md-10 offset-1 pb-0">
                <h6>Enter your old password</h6>
                <div class="form-group">
                    <input type="password" class="bg-light form-control col-10 col-sm-12 p-4" placeholder="Old Password" required />
                </div>
                <hr />
            </div>

            <div class="card-body col-lg-10 col-md-10 offset-1 pt-0">
                <h5 class="font-weight-bold">
                    Enter your new password

                </h5>

                <form method="post">
                    <div class="form-group">
                        <input type="password" class="bg-light form-control col-10 col-sm-12 p-4" placeholder="New Password" required />
                    </div>

                    <div class="form-group">
                        <input type="password" class="bg-light form-control col-10 col-sm-12 p-4" placeholder="Confirm Password" required />
                    </div>

                    <div class="my-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>

