﻿@model DataKingCore.Models.ApplicationUser

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container">
    <h3 class="text-center font-weight-bold">Forgot Your Password ?</h3>

    <div class="col-lg-7 offset-lg-2">
        <div class="card ">
            <div class="card-header bg-primary p-1">
            </div>
            @if (TempData["Message"] != null)
            {

                var tempDatamessage = TempData["Message"];
                @Html.Partial("_Message", (DataKing.Models.Message)TempData["Message"])

            }
        <div class="card-body col-10 offset-1">
            <div class="col-12 ">
                <p class="font-weight-bold">
                    <i class='fas fa-lock' style='font-size:26px; color: #808080;'></i> Enter your <b>Email Address</b> and we will send you a verification <b>link</b>  To retrieve your account.
                </p>

            </div>
            <hr />
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label class="control-label font-weight-bold">Email:</label>
                    <input asp-for="Email" type="email" class="bg-light form-control col-10" placeholder="Enter your registered email" required />

                    <div class="my-3">
                        <button type="submit" class="btn btn-primary">Reset password</button>
                    </div>

                </div>
            </form>
        </div>

        </div>
    </div>
</div>