﻿@model DataKingCore.Models.ApplicationUser

@{
    ViewData["Title"] = "Login";
}


<div class="">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <h4 class="card-header  bg-primary text-white"> New Login</h4>

            <div class="card-body">
                <form asp-controller="Account" asp-action="Login" method="post">

                    @if (TempData["Message"] != null)
                    {
                        @*rrr var tempDatamessage = TempData["Message"];rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
                        rrrr @Html.Partial("_Message", (DataKing.Models.Message)TempData["Message"])rrrrr*@

                        var tempDatamessage = (DataKing.Models.Message)TempData["Message"];
                        <partial name="_Message" model="tempDatamessage" />

                    }

                    <div class="form-group">
                        <label class="control-label"> Username</label>
                        <input type="text" asp-for="UserName" class="form-control py-4 bg-light" required />
                    </div>

                    <div class="form-group">
                        <label class="control-label"> Password</label>
                        <input asp-for="Password" type="password" class="form-control py-4 bg-light" required />
                    </div>

                    <div class="my-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                    <div class="form-row text-center">
                        <div class="col">
                            <input asp-for="RememberPassword" type="checkbox" class="form-check-input" />
                            <label class="form-check-label text-primary font-weight-bold"> Keep me signed in </label>
                        </div>

                        <div class="col">
                            <a asp-controller="Account" asp-action="ForgotPassword" class="font-weight-bold" style="text-decoration:none;">Forgot Password ?</a>
                        </div>
                    </div>
                    <br />
                    <p class="text-center mt-2">
                        Don't have an account?
                        <a class="text-info font-weight-bold" asp-controller="Account" asp-action="Register" style="text-decoration:none;">Register Now</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>


