﻿@model DataKingCore.Models.ApplicationUser

@{
    ViewData["Title"] = "Index";
}



<div class="container">

    <div class="col-lg-8 offset-lg-2">

        <form  asp-controller="Account" asp-action="Register" method="post" class="card">
            <div class="card-header bg-primary text-white ">
                <h2>Register</h2>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="card-body">
                <h6 class="card-title  text-center">This will only take few steps </h6>
                <hr class="" />

                @if (TempData["Message"] != null)
                {

                    var tempDatamessage = (DataKing.Models.Message)TempData["Message"];
                    <partial name="_Message" model="tempDatamessage" />
                }

                <div class="form-group">
                    <label class="control-label"><i class='fas fa-user' style='font-size:18px; color: #007BFF;'></i><b> UserName</b></label>
                    <input asp-for="UserName" type="text" class="form-control py-4 bg-light" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label"><i class='fas fa-envelope-open' style='font-size:18px; color: #007BFF;'></i><b> Email Address </b></label>
                    <input asp-for="Email" type="email" class="form-control py-4 bg-light" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label"><i class='fas fa-phone-alt' style='font-size:18px; color: #007BFF;'></i><b> Phone Number </b></label>
                    <input asp-for="PhoneNumber" type="tel" class="form-control py-4 bg-light" required />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label"><i class='fas fa-lock' style='font-size:18px; color: #007BFF;'></i><b> Password </b></label>
                    <input asp-for="Password" type="password" id="Password" class="form-control py-4 bg-light" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label"> <i class='fas fa-lock' style='font-size:18px; color: #007BFF;'></i><b> ConfirmPassword </b></label>
                    <input asp-for="ConfirmPassword" type="password" id="ConfirmPassword" class="form-control py-4 bg-light" required />
                    <span id='message'></span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label"><i class='fas fa-venus-mars' style='font-size:18px; color: #007BFF;'></i><b> Gender </b></label>
                    <select asp-for="GenderId" class="form-control bg-light" asp-items="@(new SelectList(@ViewBag.Gender, "Id", "Name" ))"></select>
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>

        </form>

    </div>

</div>

<style>
    hr {
        color: #007BFF;
        border: 5px solid;
    }
</style>

<script>
    $('#Password, #ConfirmPassword').on('keyup', function () {
        if ($('#Password').val() == $('#ConfirmPassword').val()) {
            $('#message').html('Password Matched').css('color', 'green');
        } else
            $('#message').html('Password Not Matching').css('color', 'red');
    });
</script>