﻿@model DataKingCore.ViewModels.PasswordResetViewmodel

@{
    ViewData["Title"] = "NewPassword";
}


<div class="container">
    <div class="col-lg-6 offset-lg-3">
        <div class="card ">
            <div class="card-header bg-primary p-1"></div>
            <div class="card-body col-10 offset-1">

                <h3 class="font-weight-bold">
                    Enter your new password
                </h3>
                <hr />
                <form method="post">
                    <input asp-for="Token" class="bg-light form-control col-10 col-sm-12 p-4" hidden />

                   
                    <div class="form-group">
                        <input asp-for="Password" type="password" class="bg-light form-control col-10 col-sm-12 p-4" placeholder="New Password" required />
                    </div>

                    <div class="form-group">
                        <input asp-for="ConfirmPassword" type="password" class="bg-light form-control col-10 col-sm-12 p-4" placeholder="Confirm Password" required />
                    </div>

                    <div class="my-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>