﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataKing</title>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/buttons.flash.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <script src="~/js/buttons.print.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/clipboard.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/fontawesome-free/js/all.js"></script>


    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom-dashboard-style.css" />
    @RenderSection("Scripts", required: false)
    <script>
        function showSpin() {
            $("#showspin").fadeOut(1500);
            $("#showcontent").fadeIn(3000);


        }
        function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
            })
        }
        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
            })
        }
        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
            })
        }

    </script>
</head>
@{
    ViewData["Title"] = "Dashboard";
}



<body style="background-color: #F4F4F4" onload="showSpin()">
    <header>
        <div class="navbar navbar-light bg-primary d-flex flex-row navbar-responsive ">
            <div class="d-flex  flex-wrap flex-md-nowrap justify-content-between text-white">
                <a class="navbar-brand text-white" href="#">
                    Posdata
                </a>

            </div>

            <div class="text-white">
                <h2>
                    Admin Dashboard
                </h2>
            </div>

            <div class="dropdown">
                <button class="  btn btn-dark  rounded-pill p-3 " type="button">
                    <h4>Welcome</h4>
                </button>
            </div>

        </div>

    </header>

    <div class="container-fluid">
        <div class="row nav-bar nav">

            <nav class="sidebar col-md-3 col-lg-2 py-3  navbar-toggleable-xs ">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="font-size:30px"></i></span>

                </button>

                <h4 class="text-center">Admin</h4>
                <hr />
                <div class="collapse-xs  navbar-collapse-sm" id="sidebar">
                    <a asp-action="Index" asp-controller="Admin">
                        <i class=" 	fas fa-id-card" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Dashboard</span>
                    </a>

                    <a class="" asp-action="AddDropdown" asp-controller="Admin">
                        <i class=" fas fa-download" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Dropdowns</span>
                    </a>

                    <a class="" asp-action="UpdateNotification" asp-controller="Admin">
                        <i class=" fas fa-mail-bulk" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Notifications</span>
                    </a>

                    <a class="" asp-action="CreateProduct" asp-controller="Admin">
                        <i class=" fas fa-edit" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Create product</span>
                    </a>

                    <a class="" asp-action="ApprovePayment" asp-controller="Admin">
                        <i class=" fas fa-clipboard-check" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Approve Transaction</span>
                    </a>


                    <hr />

                    <a class="" asp-action="Index" asp-controller="Home">
                        <i class=" fas fa-house-user" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Home</span>
                    </a>


                    <a asp-action="DepositFund" asp-controller="User">
                        <i class="fas fa-briefcase" style="font-size:25px"></i>
                        <span class="ml-2 font-weight-bold">Deposit Fund</span>
                    </a>
                    <a asp-action="Airtime" asp-controller="User">
                        <i class=" fas fa-mobile-alt" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Buy Airtime</span>
                    </a>
                    <a asp-action="Data" asp-controller="User">
                        <i class=" 	fas fa-wifi" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Buy Data</span>
                    </a>
                    <a asp-action="About" asp-controller="Home">
                        <i class=" fas fa-user" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">User Profile</span>
                    </a>
                    <a asp-action="About" asp-controller="Home">
                        <i class=" fas fa-info" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">More</span>
                    </a>
                    <form method="post" asp-action="LogOut" asp-controller="Account">
                        <button class="btn">
                            <i class=" fas fa-power-off" style="font-size:24px"></i>
                            <span class="ml-2 font-weight-bold" style="font-size:18px">Logout</span>
                        </button>

                    </form>
                </div>
            </nav>

            <div class="content col-lg-10" id="showcontent" style="display:none;">
                <main class=" ml-sm-auto px-md-4 py-4">
                    @RenderBody()

                </main>
            </div>
        </div>
    </div>


    <div class="container" id="showspin" style="margin-top:400px;">

        <div class="spinner-grow text-muted"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>
        <div class="spinner-grow text-light"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>
        <div class="spinner-grow text-light"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>


    </div>


    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/602f7aff9c4f165d47c4e56e/1eusngtdo';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


    <footer class="border-top footer text-muted" style="background-color: #0078D4;">
        <div class="container text-white text-lg-center">
            Data King &copy; @DateTime.Now.Year
        </div>
    </footer>
</body>
</html>





<script>

    $(document).ready(function () {

        $(this).on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });

</script>



