﻿@inject DataKingLogic.IHelpers.IPaymentHelper _paymentHelper;
@inject DataKingLogic.IHelpers.IUserHelper _userHelper;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataKing</title>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/buttons.flash.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <script src="~/js/buttons.print.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/clipboard.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/fontawesome-free/js/all.js"></script>


    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom-dashboard-style.css" />
    @RenderSection("Scripts", required: false)

    <script>
        function showLoader() {
            $("#myModal").modal({ backdrop: 'static', keyboard: false });
        }
        function hideLoader() {
            $("#myModal").modal('hide');
        }
        function showSpin() {
            $("#showspin").fadeOut(1500);
            $("#showcontent").fadeIn(3000);
        }

        function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
            })
        }

        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
            })
        }

        function infoAlertWithStyles(message) {
            Swal.fire({
                title: 'Notification',
                icon: 'info',
                text: message,
            })
        }

        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
            })
        }

        function successAlertWithRedirect(message, url) {
            swal.fire({
                title: "Success",
                text: message,
                icon: "info",
                timer: "30000",
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
            }).then(function () {

                location.href = url;
            })
        }

    </script>

</head>
@{
    ViewData["Title"] = "Dashboard";
}



<body style="background-color: #F4F4F4" onload="showSpin()">

    <div class="modal" id="myModal" role="dialog" style="width:100%; position:absolute; left:40%; top:50%; z-index:1; ">
        <img src="/images/loader.gif" alt="Loading...." />
    </div>
    @{
        var userId = _userHelper.GetCurrentUserId(User.Identity.Name);
        var userWallet = await _paymentHelper.GetUserWallet(userId);
    }

    <header>
        <div class="navbar navbar-light bg-primary d-flex flex-row ">
            <div class="d-flex  flex-wrap flex-md-nowrap justify-content-between text-white">
                <a class="navbar-brand text-white" href="#">
                    PosData
                </a>
            </div>

            <div class="justify-content-center">  <b> My Wallet : &#8358 @userWallet.Balance.ToString("G29") </b>  </div>

            <div class="dropdown">
                <button class="  btn btn-dark rounded-pill p-3 text-white font-weight-bold" type="button">
                    <b>Hello</b>: @User.Identity.Name
                </button>
            </div>


        </div>

    </header>

    <div class="container-fluid">
        <div class="row">

            <nav class="sidebar col-md-3 col-lg-2 py-3  navbar-toggleable-xs ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="font-size:30px"></i></span>

                </button>

                <div class="collapse-xs  navbar-collapse-sm" id="sidebar">
                    <a class="icon" href="~/Home/Index">
                        <i class=" fas fa-house-user" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Home</span>
                    </a>

                    <a class="icon" href="~/User">
                        <i class=" 	fas fa-id-card" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Dashboard</span>
                    </a>

                    <a class="icon" href="~/User/DepositFund">
                        <i class="fas fa-briefcase" style="font-size:25px"></i>
                        <span class="ml-2 font-weight-bold">Deposit</span>
                    </a>
                    <a href="~/User/Airtime">
                        <i class=" fas fa-mobile-alt" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Buy Airtime</span>
                    </a>
                    <a href="~/User/Data">
                        <i class=" 	fas fa-wifi" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Buy Data</span>
                    </a>

                    <a href="~/User/TransactionHistory">
                        <i class=" 	fas fa-clipboard-list" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">Transaction History </span>
                    </a>

                    <a class="" href="~/User/Profile">
                        <i class=" fas fa-user" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">User Profile</span>
                    </a>
                    <a class="" href="#about">
                        <i class=" fas fa-info" style="font-size:24px"></i>
                        <span class="ml-2 font-weight-bold">More</span>
                    </a>
                    <form method="post" asp-action="LogOut" asp-controller="Account">
                        <button class="btn">
                            <i class=" fas fa-power-off" style="font-size:24px"></i>
                            <span class="ml-2 font-weight-bold" style="font-size:18px">Logout</span>
                        </button>
                    </form>
                </div>
            </nav>

            <div class="content col-lg-10 col-md-9" id="showcontent" style="display:none;">
                <main class=" ml-sm-auto px-md-4 py-4" style="min-height:450px;">
                    @RenderBody()

                </main>
            </div>
        </div>
    </div>


    <div class="container" id="showspin" style="margin-top:400px;">

        <div class="spinner-grow text-muted"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>
        <div class="spinner-grow text-light"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>
        <div class="spinner-grow text-light"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>


    </div>


    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+234 8134428987", // WhatsApp number
                call_to_action: "Hi," + "@User.Identity.Name" + " We are online", // Call to action
                position: "left", // Position may be 'right' or 'left'
                pre_filled_message: "Click the button above to chat with our live 24/7 support center", // WhatsApp pre-filled message
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>


    <footer class="footer border-top position-fixed text-muted" style="background-color: #0078D4;">
        <div class="container text-white text-lg-center">
            Data King &copy; @DateTime.Now.Year
        </div>
    </footer>



    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/602f7aff9c4f165d47c4e56e/1eusngtdo';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


</body>
</html>



<script>
    $(document).ready(function () {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("AdminNotification", "User")',
            dataType: 'json',
           
            success: function (getDropdownName) {
                if (getDropdownName != "")
                {
                    message = getDropdownName ;
                    infoAlertWithStyles(message);
                }
                              
            },

        });
    });
</script>




