﻿
@inject DataKingLogic.IHelpers.IUserHelper _userHelper;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataKing</title>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/buttons.flash.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <script src="~/js/buttons.print.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/clipboard.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/fontawesome-free/js/all.js"></script>



    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Scripts", required: false)
    <script>
        function showSpin() {
            $("#showspin").fadeOut(1500);
            $("#showcontent").fadeIn(3000);
        }
        function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
            })
        }
        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
            })
        }
        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
            })
        }



    </script>
</head>

   

<body style="background-color: #F4F4F4" onload="showSpin()">
    <header>
        <nav class="navbar navbar-expand-lg  navbar-toggleable-sm navbar border-bottom box-shadow mb-3 navbar-responsive" style="background-color:#fff;">
            <div class="container-fluid" style="color:black">

                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="Data" style="max-height:80px;" /> </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="font-size:30px"></i></span>
                    <span class="icon-bar"> </span>

                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1" style="color:black; font-size:20px;">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ml-5">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index"><b> Home</b></a>
                            </li>


                            var userId = User.Identity.Name;

                            var getAdmin = await _userHelper.RedirectToRolesDashboard(userId);


                            if (getAdmin)
                            {
                                <li class="nav-item ml-5">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index"><b>Dashboard </b></a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item ml-5">
                                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index"><b>Dashboard </b></a>
                                </li>
                            }
                           

                            <li class="nav-item ml-5">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><b> Contact Us </b></a>
                            </li>

                            <form method="post" asp-action="LogOut" asp-controller="Account">
                                <button class="btn btn-primary rounded-circle px-3 py-2 ml-5" type="submit"> <i class="fas fa-power-off" style=" font-size:30px;"> </i></button>
                            </form>



                        }
                        else
                        {

                            <li class="nav-item ml-5">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index"><b> Home</b></a>
                            </li>

                            <li class="nav-item ml-5">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About"><b>About </b></a>
                            </li>

                            <li class="nav-item ml-5">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login"><b> Login </b></a>
                            </li>

                            <li class="nav-item ml-5">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register"><b> Register </b></a>
                            </li>
                           
                            <li class="nav-item ml-5">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><b> Contact Us </b></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="showspin" style="margin-top:400px;">

        <div class="spinner-grow text-muted"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>
        <div class="spinner-grow text-light"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>
        <div class="spinner-grow text-light"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>


    </div>
    <div class="container-fluid" id="showcontent" style="display:none;">
        <main role="main" class="pb-3 mb-3" style="min-height:450px;">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer mt-5 border-top position-fixed text-muted" style="background-color: #0078D4;">
        <div class="container text-white text-lg-center">
            Posdata.com.ng &copy; @DateTime.Now.Year
        </div>
    </footer>


    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/602f7aff9c4f165d47c4e56e/1eusngtdo';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


</body>
</html>




