﻿@model DataKing.Models.Message

@{
    ViewBag.Title = "Message";
}

@if (Model != null)
{
    switch (Model.Type)
    {
        case 1:
            {
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>@Model.Description</strong>
    </div>

                break;
            }
        case 2:
            {
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>

    <strong>@Model.Description</strong>
</div>

                break;

            }
        case 3:
            {
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>

    <strong>@Model.Description</strong>
</div>

                break;
            }
    }




}


