﻿@model DataKingCore.Models.ApplicationUser
@{
    ViewData["Title"] = "Airtime";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container ">
    <form  method="post">
        <div class="card">
            <div class="card-header px-5 py-3 ">
                <h4 class="display-3 mb-3 text-primary"><b>Purchase Airtime</b></h4>
                
            </div>
            <div class="card-body bg-light">
                <div class="alert alert-dismissible shadow mb-2 col-12 fade show" style="background-color:#c7e1fc;">
                    <b>NOTE:</b> REMEMBER TO REMOVE THE <mark><b> +234 & SPACE </b></mark> BETWEEN YOUR PHONE NUMBER BEFORE USING THEM TO PLACE YOUR ORDER
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                </div>
                <br />
                <div class="col-10 offset-1">
                    <div class="form-group">
                        <label class="control-label">Select Network</label>
                        <select class="form-control "  required id="network"  asp-items="@(new SelectList(@ViewBag.AirTime, "Id", "Name" ))" ></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Amount:</label>
                        <input type="number" class="form-control p-4" placeholder="Choose the amount of airtime you want" min="50" required id="amount" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Phone Number:</label>
                        <input type="number" asp-for="PhoneNumber" class=" form-control p-4 " placeholder="Enter Customer Phone number" required id="number" />
                    </div>

                    <div class="my-3">
                        <a href="#" class="btn btn-primary btn-block" onclick="submitRequest()">Submit</a>
                    </div>
                    <div class="font-weight-bold">
                        <p>
                            <b>NEW OFFER:</b> MTN AWUF is an offer which gives up to 400% airtime bonus on every recharge from N100 & above; AND 275%
                            on every recharge between less than N100.
                        </p>
                        <p><b>NOTE:</b> ALL YOUR RECHARGE WILL AUTOMATICALLY BE CREDITED AS BONUS</p>
                    </div>
                </div>
            </div>
           
        </div>
    </form>

</div>





<script>
      function submitRequest() {
          showLoader();
          var phoneNumber = $("#number").val();
          var amount = $("#amount").val();
          var network = $("#network").val();

          debugger;
          if (phoneNumber == "" && amount == "" && network == "") {
              hideLoader();
              errorAlert("Error, Please Ensure that you entered the correct values")
              
              return
          }
          // CHECKING THE USER WALLET TO KNOW IF HE CAN PAY FOR THE TRANSANCTION.
          $.ajax({
              type: 'POST',
              url: '@Url.Action("CanPayForItem", "User")', // we are calling json method
              dataType: 'json',
              data: {
                  amount: amount
              },
              success: function (result) {
                  if (!result) {
                      hideLoader();
                      infoAlert("Sorry! You do not have enough money in your wallet, Fund your wallet");
                      return;
                  }


                  // POSTING THE AIRTIMEPURCHASE && HITTING THE API.

                  $.ajax({
                      type: 'POST',
                      url: '@Url.Action("BuyAirtime", "User")', // we are calling json method
                      dataType: 'json',
                      data: {
                          phoneNumber: phoneNumber, amount: amount, networkId: network
                      },
                      success: function (result) {
                          if (result) {
                              hideLoader();
                              successAlert("Airtime purchase was successful")
                          }
                          else {
                              hideLoader();
                              errorAlert("Something went wrong, please contact our support.")
                          }

                      },
                      error: function (ex) {
                          hideLoader();
                          errorAlert(ex);
                      }
                  });
              }
          });

       }

</script>