﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


        @*<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">*@
<div class="container">
    <h1 class="h2">Dashboard</h1>
    <div class="row offset-1">
        <div class="card-body shadow-lg p-4 text-center mr-lg-2">
            <h6>My Wallet : &#8358; 0</h6>
        </div>
        <div class="card-body p-4 shadow-lg text-center">
            <h6>My Transactions: &#8358; 0</h6>
        </div>
    </div><br />

    <div class="row">
        <div class="col-12 m-auto p-4 h-50 bg-white">

        </div>

    </div>
</div>

        @*</main>*@
   





