﻿@model DataKingCore.Models.Product
@{
    ViewData["Title"] = "Data";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<div class="container ">
    <form method="post">
        <div class="card">
            <div class="card-header px-lg-5 px-3 py-3 bg-light ">
                <h4 class="display-3 mb-3 text-primary"><b>Purchase Mobile Data</b></h4>
            </div>
            <div class="card-body bg-light">

                <div class="alert alert-dismissible shadow mb-2 col-12 fade show">
                    <b>NOTE:</b>PLEASE ENSURE TO CONFIRME ALL DATA ORDERS WITH THE BALANCE CHECKING CODE BELOW AFTER FEW MINUTES OF ORDER
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                </div>
                <br />
                <div class="col-lg-10 offset-lg-1">
                    <div class="form-group">
                        <label class="control-label">Select Network:</label>
                        <select class="form-control " required id="NetwokId" asp-items="@(new SelectList(@ViewBag.DataNetwork, "Id", "Name" ))" ></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Select Bundle:</label>
                        <select class="form-control"  required id="BundleId"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Phone Number:</label>
                        <input type="number" class=" form-control p-4 " placeholder="Enter Customer Phone number" id="phoneNumber" required />
                    </div>

                    <div class="my-3">
                        <a href="#" type="submit" class="btn btn-primary btn-block" onclick="submitRequest()">Purchase</a>
                    </div>
                    <div class="">
                        <h6>
                            <b>Note:</b> To Check MTN SME Data Dial *461*4# MTN Direct Data Dial *131*4#
                        </h6>
                        <h6><b>NOTE:</b> Dial *127*0# To Check Glo Data Balance</h6>
                        <h6><b>NOTE:</b> Dial *140# To Check Airtel Data Balance</h6>
                        <h6><b>NOTE:</b> Dial *229*9# To Check 9mobile Data Balance Dial *127*0# To Check Glo Data Balance</h6>

                        <p class="text-danger">
                            (Glo Users Take Note) : The allocating of data are done by the network providers,
                            secondly your number and tariff plan determines the actual data you will receive.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

<style>
    .shadow {
        background-color: #c7e1fc;
    }

</style>

<script>

      $(document).ready(function () {

          $("#NetwokId").change(function () {

              $("#BundleId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDataBundle")', //we are calling json method
                dataType: 'json',
                data: { id: $("#NetwokId").val() },
                success: function (getBundle) {
                    $("#BundleId").append('<option value="' + 0 + '">-- Select --</option>');

                    $.each(getBundle, function (i, getBundle) {
                        $("#BundleId").append('<option value="' + getBundle.value + '">' + getBundle.text + '</option>');
                    });
                    $("#BundleId").show();
                },
                error: function (ex) {
                    alert('Failed to retrieve Bundle.' + ex);
                }
            });

            return false;
        });
      });

      function submitRequest() {
          showLoader();
          var phoneNumber = $("#phoneNumber").val();
          var productId = $("#BundleId").val();
          var network = $("#NetwokId").val();


          debugger;
          if (phoneNumber == "" || productId == "" || network == "") {

              errorAlert("Error, Please Ensure that you entered the correct values");
              hideLoader();
              return
          }

           // CHECKING THE USER WALLET, IF THEY HAVE ENOUGH MONEY
            $.ajax({
              type: 'POST',
              url: '@Url.Action("CanPayForProduct", "User")', // we are calling json method
              dataType: 'json',
                data: {
                    productId: productId
              },
                success: function (result)
                {
                    if (!result)
                    {
                      infoAlert("Sorry! You do not have enough money in your wallet, Fund your wallet");
                      hideLoader();
                      return;
                    }

                   // POST SCTION TO BUY DATA
                    $.ajax({

                      type: 'POST',
                      url: '@Url.Action("Data", "User")', // we are calling json method
                      dataType: 'json',
                    data: {
                        phoneNumber: phoneNumber, productId: productId
                      },
                        success: function (result)
                        {
                                if (result)
                                {
                                  successAlertWithRedirect("Data purchase was successful", "/user");
                                }
                                else
                                {
                                      errorAlert("Something went wrong, please contact our support.");
                                      hideLoader();
                                }

                        },
                        error: function (ex)
                        {
                          errorAlert(ex);
                          hideLoader();
                        }
                   });

              }


          });

         



      }

</script>