﻿@model DataKingCore.Models.Payment

@{
    ViewData["Title"] = "Deposit Fund";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<!--  Filling Deposit Options  -->


    <form asp-controller="User" asp-action="DepositFund" method="post">
        <div class="card" id="depositfd">
            <div class="card-header bg-primary text-center">
                <h4 class="text-white">Deposit Fund</h4>
            </div>


            <div class="card-body col-lg-8 offset-lg-2 mt-3">

                @if (TempData["Message"] != null)
                {

                    var tempDatamessage = (DataKing.Models.Message)TempData["Message"];
                    <partial name="_Message" model="tempDatamessage" />
                }

                <div class="form-group">
                    <label class="control-label"> Amount</label>
                    <input type="number" id="amount" class="form-control py-4 bg-light" min="500" required />
                    <p class="text-danger font-weight-bold"> Minimum  Amount of &#8358;500 Can Be Deposited. </p>
                </div>

            <div class="form-group">
                <label class="control-label"> Payment Options:</label>
                <select asp-for="PaymentTypeId" class=" form-control bg-light" id="paymentOptId" required asp-items="@(new SelectList(@ViewBag.PaymentType, "Id", "Name" ))"> </select>
                <span id="deductions">
                    <hr />
                </span>
            </div>

                <div class="my-3">
                    <a href="#" class="btn btn-primary" id="depositNxt">Next</a>
                </div>

            </div>

        </div>



        <!--  List of the Available Bank Accounts -->

        <div class="container" id="listAcc">

            <div class="card ">
                <div class="card-header bg-primary text-center">
                    <h4 class="text-white">Choose Bank Accounts </h4>
                </div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">

                    <div class="list-group">
                        <p class="list-group-item ">KINDLY MAKE TRANSFER TO ANY OF THE ACCOUNT DETAILS BELOW AND CLICK ON CONFIRM PAYMENT AFTER</p>

                    </div>

                    <div class="card-body shadow-lg p-4">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                BANK NAME : ACCESS BANK
                            </a>
                            <a href="#" class="list-group-item">ACCOUNT NAME : <b> ADIANI JANE NKIRUKA </b></a>

                            <a class=" text-primary border list-group-item"> ACCOUNT NUMBER : <b> 0060859059 </b>
                                <span class="hover" id="lolow" data-clipboard-text="0060859059" style="margin-left: 9px;">
                                <i class="fas fa-clone" style="font-size:22px; color:black;"></i> </span>
                            </a>
                              
                        </div>
                    </div>

                    <p class="list-group-item">
                        NOTE: BANK TRANSFER TO ANY OF THESE ACCOUNTS IS NOW WITH A MINIMUM OF 500,
                        ANY AMOUNT LESSER KINDLY USE OTHER PAYMENT OPTION.
                    </p>
                    <p class="list-group-item"> 
                        ALL PAYMENTS MADE TO ANY OF THESE ACCOUNTS MAY TAKE UP TO 15-30MIN TO CONFIRM
                    </p>                  

                    <br />

                    <br />
                    <div class="my-3">
                        <a href="#" class="btn btn-primary btn-block form-control font-weight-bold text-center  " id="listNxt">Confirm Payment</a>
                    </div>


                </div>

                </div>
                </div>
            </div>
        </div>

        <!--  Insert The Payment Confirmation Page Here  -->


        <div id="confirmPay">

            <div class="card ">
                <div class="card-header bg-primary text-center">
                    <h4 class="text-white">Confirm your payment</h4>
                </div>

        <div class="card-body">
            <div class="row">
                <div class="col-8 offset-2">
                    <h5 class="text-danger">Warning!!</h5>
                    <h6>Please do not fill this form if you are yet to make payment.</h6>
                    <p>Else you will be locked out of your account.</p>
                    <br />
              
                        <div class="form-group">
                            <label class="control-label">Choose The Bank You Made payment To:</label>
                            <select asp-for="BankAccountId" class="form-control bg-light" asp-items="@(new SelectList(@ViewBag.BankList, "Id", "Name" ))" required>  </select>
                        </div>

                            <div class="form-group">
                                <label class="control-label">Amount Paid</label>
                                <input asp-for="Amount" type="number" min="500" class="form-control bg-light" placeholder="Enter The Amount You Deposited" required />
                            </div>

                        <div class="form-group">
                            <label class="control-label">Acount Name Paid From</label>
                            <input asp-for="PaidFrom" type="text" class="form-control bg-light" placeholder="Enter The name Of The Account You Paid From"  required />
                        </div>

                            <div class="form-group my-5 ">

                            <button type="submit"  class="btn btn-primary btn-block "> Submit</button>
                        </div>
             

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>





<script>


    $(document).ready(function () {


        $("#depositfd").show();
        $("#confirmPay,#listAcc").hide();
        $("#depositNxt").on('click', function () {

            debugger;
            var amount = $("#amount").val();
            var paymentTypeId = $("#paymentOptId").val();
            var payOptionName = $("#paymentOptId option:selected").text();

            if (amount != null && amount >= 500 && payOptionName.includes("Bank")) {
                $("#listAcc").fadeIn(3000);
                $("#confirmPay,#depositfd").hide();
            }
            else if (amount != null && amount >= 500 && !payOptionName.includes("Bank")) {      // CALLING THE PAYSTACK METHOD
                debugger;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PaystackPayment", "User")', // we are calling json method
                    dataType: 'json',
                    data:
                    {
                        paymentTypeId: paymentTypeId, amount: amount
                    },
                    success: function (response) {
                        var message = "You will now be redirected to paystack to make your payment"
                        swal.fire
                            ({
                                title: "Success",
                                text: message,
                                icon: "info",
                                timer: "30000",
                                overlay: "background - color: rgba(43, 165, 137, 0.45)",
                            }).then(function () {
                                location.href = response;
                            })
                    }
                });

            }

            else {
                var message = "Please Ensure to Fill all the spaces"
                swal.fire("Warning", message, "error", "3000");
                return;
            }
        });

        $("#listNxt").on('click', function () {
            $("#confirmPay").fadeIn(3000);
            $("#listAcc,#depositfd").hide()
        });



        $("#paymentOptId").change(function () {
            debugger;
            var amount = $("#amount").val();
            var payOptionName = $("#paymentOptId option:selected").text();

            if (amount != null && amount >= 500 && payOptionName.includes("Pay")) {
                var pcnt = (1.5 / 100) * amount;
                var total = amount - (pcnt + 100);
                $("#deductions").text("You will get " + total + " in your wallet when you deposit " + amount + " through paystack, click NEXT to continue").css({ "background-color": "#c7e1fc", "font-weight": "bold" });

            }
            else {
                $("#paymentOptId").on('click', function () {
                    $("").fadeIn(3000);
                    $("#deductions").hide()
                });

            }
        });


    }); 
   
   
</script>

<script>
    $(document).ready(function () {
        $("#lolow").on('click', function () {
            new Clipboard("#lolow");
        });
    });

</script>



    <style>

        td {
            padding-left: 9px;
            padding-right: 9px;
        }
    </style>
