﻿@model IEnumerable<DataKingCore.Models.WalletHistory>

@inject DataKingLogic.IHelpers.IUserHelper _userHelper;
@inject DataKingLogic.IHelpers.IPaymentHelper _paymentHelper;



@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@{

    var userId = _userHelper.GetCurrentUserId(User.Identity.Name);
    var userWallet = await _paymentHelper.GetUserWallet(userId);

}


<div class="container">
    <h1 class="h2">Dashboard</h1>
    <div class="row">
        <div class="card-body shadow-lg p-4 text-center mr-lg-2">
            <h6>My Wallet : &#8358; @userWallet.Balance.ToString("G29") </h6>
        </div>
        <div class="card-body p-4 shadow-lg text-center">
            <h6>Refferal Bonus: &#8358; 0</h6>
        </div>
    </div><br />


    <div class="row">
        <div class="col-12 bg-info text-white h-50">
          
        </div>
    </div>


    <div class="row">

        <div class="col-12  h-50">

            @if (Model != null && Model.Count() > 0)
            {

                <table id="table" class="table table-bordered table-striped table-responsive-sm">
                    <thead style=" background-color: #c7e1fc; ">

                        <tr>
                            <th> @Html.DisplayNameFor(model => model.Amount)</th>
                            <th>   New Balance </th>
                            <th>  Previous Balance </th>
                            <th> @Html.DisplayNameFor(model => model.TransactionType)</th>
                            <th> @Html.DisplayNameFor(model => model.DateOfTransaction)</th>
                            <th> Invoice Number</th>
                            <th> Status </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var obj in Model)
                        {

                            var colorString = "";

                            if (obj.TransactionType == DataKingCore.Enums.TransactionType.Debit)
                            {
                                colorString = "red";
                            }

                            <tr style="color:@colorString; font-weight:bold">

                                <td>&#8358;@Html.DisplayFor(modelItem => obj.Amount)</td>
                                <td>&#8358;@Html.DisplayFor(modelItem => obj.Wallet.Balance)</td>
                                <td>&#8358;@Html.DisplayFor(modelItem => obj.NewBalance)</td>
                                <td>@Html.DisplayFor(modelItem => obj.TransactionType)</td>
                                <td>@Html.DisplayFor(modelItem => obj.DateOfTransaction)</td>

                                <td>
                                    @if (obj.Payment != null)
                                    {
                                        @Html.DisplayFor(modelItem => obj.Payment.InvoiceNumber)
                                    }
                                </td>
                                <td>
                                    @if (obj.Payment != null)
                                    {
                                        @Html.DisplayFor(modelItem => obj.Payment.PaymentStatus)
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2 class="text-info text-center py-5"> No Transactions History Found. </h2>
            }

        </div>
    </div>

</div>




