﻿@model IEnumerable<DataKingCore.Models.ApplicationUser>


@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="container">
    
    <div class="offset-1">
        <div class="card-body shadow-lg p-4 text-center mr-lg-2">
            <h6>  </h6>
        </div>
   
    </div><br />

    <div class="row">
        <div class="col-12  h-50 ">

            @if (Model != null && Model.Count() > 0)
            {

            <div class="card">
                <div class="card-header bg-primary text-white ">
                    <h1 class="text-center ">My Profile </h1>
                </div>

                <div class="card-body">
                    <table id="table" class="table table-bordered table-striped w-100 table-responsive-sm">

                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>  <b class="text-info"> USERNAME </b> </td>

                                    <td> @Html.DisplayFor(modelItem => obj.NormalizedUserName)</td>
                                </tr>

                                <tr>
                                    <td> <b class="text-info"> PHONE NUMBER </b> </td>

                                    <td> @Html.DisplayFor(modelItem => obj.PhoneNumber) </td>
                                </tr>

                                <tr>
                                    <td>  <b class="text-info"> EMAIL ADDRESS  </b> </td>

                                    <td>@Html.DisplayFor(modelItem => obj.Email)</td>
                                </tr>


                                <tr>
                                    <td>   <b class="text-info"> GENDER  </b> </td>

                                    <td>@Html.DisplayFor(modelItem => obj.Gender.Name)</td>
                                </tr>

                                <tr>
                                    <td>   <b class="text-info"> Change Password   </b> </td>

                                    <td> <a asp-action="ForgotPassword" asp-controller="Account"><b> Set New Password </b></a> </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
                
            }
            else
            {
                <h2 class="text-info text-center py-5"> No Profile Found </h2>
            }

        </div>


    </div>

</div>






