﻿@model IEnumerable<DataKingCore.Models.WalletHistory>

@{
    ViewData["Title"] = "ApproveTransaction";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {

        $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>


<div class="container">
    @if (Model != null && Model.Count() > 0)
    {
        <h1 class="text-center text-white bg-primary">List Of Transaction </h1> <hr />

        <table id="table" class="table table-bordered table-striped w-100 table-responsive-sm">
            <thead>

                <tr>
                    <th> @Html.DisplayNameFor(model => model.Amount)</th>
                    <th>  New Balance </th>
                    <th>  Previous Balance </th>
                    <th> @Html.DisplayNameFor(model => model.TransactionType)</th>
                    <th> @Html.DisplayNameFor(model => model.DateOfTransaction)</th>
                    <th> Invoice Number</th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var obj in Model)
                {
                    var colorString = "red";

                    if (obj.TransactionType == DataKingCore.Enums.TransactionType.Credit || obj.TransactionType == DataKingCore.Enums.TransactionType.Refund)
                    {
                         colorString = "green";
                    }

                    <tr style="color:@colorString; font-weight:bold">

                        <td>&#8358;@Html.DisplayFor(modelItem => obj.Amount)</td>
                        <td>&#8358;@Html.DisplayFor(modelItem => obj.Wallet.Balance)</td>
                        <td>&#8358;@Html.DisplayFor(modelItem => obj.NewBalance)</td>
                        <td>@Html.DisplayFor(modelItem => obj.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => obj.DateOfTransaction)</td>
                        
                        <td>
                        @if (obj.Payment != null)
                        {
                      @Html.DisplayFor(modelItem => obj.Payment.InvoiceNumber)
                        }</td>
                        <td>
                            @if (obj.Payment != null)
                            {
                                @Html.DisplayFor(modelItem => obj.Payment.PaymentStatus)
                            }
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="text-info text-center py-5"> No Transactions History Found, Try making some purchases. </h2>
    }

</div>






